:root {
    --fonte-padrao: 'Raleway', sans-serif;
    
    --azul: #2A7AE4;
    --branco: #FFF;
    --cinza-claro: #F5F5F5;
    --cinza-medio: #A2A2A2;
}

body {
    font-family: var(--fonte-padrao);
}

.cabecalho {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo {
    width: 100px;
}

.cabecalho__botao {
    color: var(--azul);
    font-size: 14px;
    font-weight: 600;
    padding: 0.625rem 2.5rem;
    border: 2px solid var(--azul);
}

.botao__padrao {
    background-color: var(--azul);
    color: var(--branco);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    width: 120px;
    padding: 0.7rem;
}

@media (min-width: 640px) and (max-width: 1200px) {
    .cabecalho__logo {
        order: 1;
    }

    .cabecalho__busca {
        order: 2;
    }

    .cabecalho__botao {
        order: 3;
    }
}

@media (min-width: 1200px) {
    .cabecalho__logo {
        order: 1;
        width: 176px;
    }

    .cabecalho__busca {
        order: 2;
    }

    .cabecalho__botao {
        order: 3;
    }

    .botao__padrao {
        width: 130px;
        padding: 0.8rem 0.8rem;
    }
}