.container {
    padding: 0 5%;
}

@media (min-width: 1200px) {
    .cabecalho {
        padding-left: calc((100% - 960px)/2);
        padding-right: calc((100% - 960px)/2);
    }
}

@media (min-width: 1200px) {
    .cabecalho {
        padding-left: calc((100% - 1150px)/2);
        padding-right: calc((100% - 1150px)/2);
    }

    .container {
        padding-left: calc((100% - 1150px)/2);
        padding-right: calc((100% - 1150px)/2);
    }
}